<% include _header %>

<img class="full-bg" src="images/full-bg.png">

<div class="homebox">    
    <div class="inner">        
        <h1 class="text-center" style="margin: 0px; font-size:46px;">Almost there...</h1>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>  
    </div>
</div> 

<% include _js %>
<% include _footer %>
