<% include _header %>

<img class="full-bg" src="images/full-bg.png">

<div class="homebox">
    <ul class="nav nav-tabs" style="margin: 0px;">
        <% if(tab == "login") { %>
            <li><a href="/" style="background: #eee;"><i class="icon-star"></i> Sign up</a></li>
            <li class="active"><a href="login"><i class="icon-signin"></i> Log in</a></li>
        <% } else { %>
            <li class="active"><a href="/"><i class="icon-star"></i> Sign up</a></li>
            <li><a href="login" style="background: #eee;"><i class="icon-signin"></i> Log in</a></li>
        <% } %>
    </ul> 
    <div class="inner">
        <% if(tab == "login") { %>
            <h1 class="text-center" style="margin: 0px; line-height: 114px; font-size:46px;">Log in now</h1>
            <a href="/auth/twitter" class="btn btn-primary btn-large" style="display: block; margin: 40px auto 0px; width: 200px;">
                <i class="icon-twitter"></i>&nbsp; Log in with Twitter
            </a>
        <% } else { %>
            <h1 class="text-center" style="margin: 0px; line-height: 114px; font-size:46px;">Sign up for free</h1>
            <p class="text-center" style="padding: 0px 50px; font-size:20px; line-height:28px;">
                No need to remember another password, instead Wire uses Twitter for authentication.
            </p>    
            <a href="/auth/twitter" class="btn btn-primary btn-large" style="display: block; margin: 40px auto 0px; width: 200px;">
                <i class="icon-twitter"></i>&nbsp; Sign up with Twitter
            </a>
        <% } %>    
    </div>
</div> 

<% include _js %>
<% include _footer %>
