<% include _header %>

<style>
    body                {background: #eee;}
    .homebox            {margin: 100px auto; width: 340px;}
    .homebox .inner     {height: 200px; background: #fff; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd;}
</style>

<div class="homebox">
    <ul class="nav nav-tabs" style="margin: 0px;">
        <li class="active"><a href="/">Sign up</a></li>
        <li><a href="login">Log in</a></li>
    </ul> 
    <div class="inner">
        <h2 class="text-center" style="margin: 0px; line-height: 70px;">Sign Up for free</h2>
        <p class="text-center" style="padding: 0px 30px;">
            No need to remember another password, instead Wire uses twitter for authentication.
        </p>    
        <a href="" class="btn btn-primary btn-large" style="display: block; margin: 20px auto; width: 200px;">Sign up with Twitter</a>        
    </div>
</div> 

<% include _js %>
<% include _footer %>
