<% include _header %>



<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Wire</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li>
                    <a href="#">Home</a>
                </li>               
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Wires <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="help.htm">Technology</a>
                        </li>
                        <li>
                            <a href="help.htm">Marketing</a>
                        </li>                        
                        <li class="divider">
                        </li>                        
                        <li>
                            <a href="help.htm"><b class="icon-plus"></b> New Wire</a>
                        </li>                        
                    </ul>
                </li>
                 <li class="active">
                    <a href="#">Activity</a>
                </li>               
            </ul>

            <div class="pull-right btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i> tcollins
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-pencil"></i> Profile</a></li>
                <li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-off"></i> Sign out</a></li>
                </ul>
            </div>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




    <div class="visible-desktop" style="height: 41px;">spacer</div>

    <!--
    <div class="btn-group pull-right" style="margin: 5px 20px 0px 0px;">
      <a class="btn btn-small" href="#" title="Invite a new team member"><i class="icon-plus"></i><i class="icon-user"></i></a>
    </div>
    -->
    <ul class="breadcrumb">
      <!--<li><a href="#">Wires</a> <span class="divider">/</span></li>-->
      <li class="active">Technology</li>
    </ul>
    

    <div class="container-fluid"> 
      <!-- Start Tabs -->
      <div class="row-fluid">
        <div class="span12">
          <div class="btn-group pull-right" style="margin: 1px 0px 0px 0px;">
            <a class="btn btn-small" href="#" title="Invite someone to your team"><i class="icon-plus"></i><i class="icon-user"></i></a>
          </div>
          <ul class="nav nav-tabs">
            <!--<li data-bind="css: { active: currentTab() == 'messages'}"><a data-bind="click:goToMessagesTab" href="#">Messages</a></li>
            <li data-bind="css: { active: currentTab() == 'team'}"><a data-bind="click:goToTeamTab" href="#">Team</a></li>
          -->
            <li data-bind="css: { active: currentTab() == 'messages'}"><a href="#tcollins-technology">Messages</a></li>
            <li data-bind="css: { active: currentTab() == 'team'}"><a href="#tcollins-technology/team">Team</a></li>
          </ul>     
        </div>
      </div> 
      <!-- End Tabs -->   

      <!-- Start Message Tab -->
      <div data-bind="if: isMessagesTab">
        <div class="row-fluid">
          <div class="span11">
              <input type="text" style="width: 100%;" placeholder="Chat to your team…" data-bind="value:message, returnKey:sendMessage, hasfocus: isChating"> 
          </div>
          <div class="span1">
            <button class="btn" type="button" data-bind="click:sendMessage">Send</button> 
          </div>
        </div>

        <div class="row-fluid">
          <div class="span11">
            <ul class="wire-list" data-bind="foreach: messages">
                <li class="wire-list-item" style="border-bottom: 1px solid #ccc;">
                    <img data-bind="attr: { src: user.avatarUrl, title: user.username }">
                    <div class="muted" style="">about 20 mins ago</div>
                    <div class="wire-list" data-bind="foreach: bodylines">
                        <p data-bind="text: $data"></p>       
                    </div>
                </li>
            </ul>  
          </div>
        </div>  
      </div>
      <!-- End Message Tab -->

      <!-- Start Team Tab -->
      <div data-bind="if: isTeamTab">
          TEAM INFO GOES HERE
      </div>
      <!-- Start Team Tab -->

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->


    <% include _js %>
    <script>
        WIRE.setup();
    </script>

<% include _footer %>